$font-family-primary: "Calibri", "Helvetica Neue", Arial, "Noto Sans",
  sans-serif;
$font-family-secondary: "Nunito", $font-family-primary;

$color-primary: #0c355c;
$color-gc-blue: #15426b;
$color-gc-blue-shade-1: #134483;
$color-gc-blue-shade-2: #4eafea;
$color-blue-light: #3e66df;
$color-gc-blue-dark: #033346;
$color-gc-orange: #f28e36;
$color-gc-orange-1: #f28e34;
$color-gc-orange-secondary: #dd7929;
$color-gc-cyan: #3ec6ff;
$color-gc-grey-light: #fafafa;
$color-gc-grey-light-2: #f8f8f8;
$color-gc-grey-light-3: #f3f3f3;
$color-gc-grey-light-4: #f8fafb;
$color-gc-grey: #f5f5f5;
$color-gc-dark-1: rgba(48, 48, 48, 0.8);
$color-gc-dark-text: #323232;
$color-black: #000;
$color-black-text: #181818;
$color-black-text-2: #202020;
$color-gc-grey-faded: #929292;
$color-text-faded: #808080;
$gc-link: #1e75e5;
$color-faded-text: #3c3c43;
$color-black: #000;
$color-grey-solid: #f0f0f0;
$color-muted: #d4d4d4;
$color-error: #f23636;
$color-blue-faded-bg: #3a81bf;
$color-blue-faded-bg-2: #ecf6fa;
$color-black-text-3: #383838;
$color-faded-blue: #e4f7ff;
$color-selected-cyne: #d9eaf1;

$gou-blue: #53a9d1;
$white: white;
$gou-blue-dark: #1f3960;
$gou-svg-active: #232323;
$gou-grey: #f8f8f8;
$gou-grey-2: #fbfbfb;
$black: #000;
$gou-blue-3: #1b2d53;
$gou-b-2: #2c2c2c;
