// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------

footer {
  background-color: $color-black;
  padding: 7.1rem 0;
  color: white;
  @media (max-width: 768px) {
    padding: 3rem 0 6rem;
  }
  .content-container.left {
    h2 {
      font-size: 2.8rem;
    }
    p {
      font-size: 1.6rem;
    }
    .header-box {
      margin-bottom: 3.5rem;
    }
    .text-box {
      margin-bottom: 3.5rem;
    }
  }
  .content-container.right {
    .footer-list {
      h3 {
        font-size: 1.8rem;
        line-height: 1.33;
        font-weight: 700;
      }
      p {
        font-size: 1.6rem;
        line-height: 1.33;
        a {
          color: white;
        }
      }
      .icon-container {
        width: 3.4rem;
        margin-right: 2.5rem;
      }
    }
  }
  .footer-bottom {
    a {
      color: white;
      text-decoration: underline;
    }
  }
}
