header {
  position: fixed;
  width: 100%;

  z-index: 1000;
  .header-inner {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    background-color: white;
  }
  .fs-ham-icon {
    position: relative;

    width: 3.7rem;
    height: 2.6rem;
    cursor: pointer;
    margin-right: 6.1rem;
    display: flex;
    align-items: center;
    @media (max-width: 991px) {
      width: 4rem;
      height: 3rem;
      margin-right: 3.7rem;
    }
    @media (max-width: 768px) {
      width: 3rem;
      height: 2rem;
      margin-right: 1.7rem;
    }
    @media (max-width: 576px) {
      width: 2rem;
      height: 1.2rem;
      margin-right: 1.1rem;
    }
    span {
      position: absolute;
      content: "";
      width: 100%;
      height: 4px;
      background-color: $color-primary;
      transition: all 0.3s ease;
      transform-origin: left;
      @media (max-width: 768px) {
        height: 2px;
      }
      &:first-child {
        top: 0;
        left: 0;
      }
      &:nth-child(2) {
        top: 50%;
        transform: translateY(-50%);
      }
      &:last-child {
        bottom: 0;
      }
    }
  }
  .fs-ham-icon.open {
    position: relative;

    width: 3.7rem;
    height: 2.6rem;
    cursor: pointer;
    margin-right: 6.1rem;
    display: flex;
    align-items: center;
    @media (max-width: 991px) {
      width: 4rem;
      height: 3rem;
      margin-right: 3.7rem;
    }
    @media (max-width: 768px) {
      width: 3rem;
      height: 2rem;
      margin-right: 1.7rem;
    }
    @media (max-width: 576px) {
      width: 2rem;
      height: 1.2rem;
      margin-right: 1.1rem;
    }
    span {
      position: absolute;
      content: "";
      width: 100%;
      height: 4px;
      background-color: $color-primary;
      @media (max-width: 768px) {
        height: 2px;
      }
      &:first-child {
        top: 0;
        left: 0;
        transform: rotateZ(37deg);
        @media (max-width: 565px) {
          transform: rotateZ(32deg);
        }
      }
      &:nth-child(2) {
        top: 50%;
        // transform: translateY(-50%);
        opacity: 0;
      }
      &:last-child {
        transform: rotateZ(-35deg);
      }
      @media (max-width: 565px) {
        transform: rotateZ(-29deg);
      }
    }
  }
  // .fs-ham-icon.fs-ham-icon-open {
  //   width: 3.7rem;
  //   height: 2.5rem;
  //   @media (max-width: 991px) {
  //     width: 4rem;
  //     height: 3rem;
  //     margin-right: 3.7rem;
  //   }
  //   @media (max-width: 768px) {
  //     width: 3rem;
  //     height: 2rem;
  //     margin-right: 1.7rem;
  //   }
  //   @media (max-width: 576px) {
  //     width: 2rem;
  //     height: 1.2rem;
  //     margin-right: 1.1rem;
  //   }
  // }
  .logo-container {
    width: 28.6rem;
    max-width: 100%;
    @media (max-width: 991px) {
      width: 26.2rem;
    }
    @media (max-width: 576px) {
      width: 21.8rem;
    }
  }
  .icon-group {
    .icon-container {
      width: 2.9rem;
      cursor: pointer;
      @media (max-width: 768px) {
        width: 1.9rem;
      }
      &:not(:last-child) {
        margin-right: 3.7rem;
        @media (max-width: 991px) {
          margin-right: 3.5rem;
        }
        @media (max-width: 768px) {
          width: 1.9rem;
          margin-right: 1.4rem;
        }
      }
    }
    .icon-search-container {
      position: relative;
      .search-input-container {
        visibility: hidden;
        position: absolute;
        right: calc(100% - -28px);
        top: 2px;
        width: 30rem;
        transition: all 0.3s ease;
        transform: translate(0, -10px);
        @media (max-width: 1365px) {
          right: calc(100% - 33px);
          top: 72px;
        }
        .input-group-append {
          display: none;
        }
        input {
          border-radius: 8px;
        }

        .search-results-container {
          width: 72.5rem;
          max-height: 80vh;
          overflow-y: auto;
          max-width: calc(100vw - 3rem);
          padding: 2rem;
          margin-top: 3.5rem;
          background-color: white;
          border: 1px solid #ced4da;
          position: absolute;
          right: 0;
          @media (max-width: 1200px) {
            width: 59.3rem;
          }
          @media (max-width: 990px) {
            transform: translateX(0);
            left: auto;
            width: 47.6rem;
          }
          @media (max-width: 768px) {
            right: 0;
          }
          @media (max-width: 565px) {
            width: 37.1rem;
          }
          @media (max-width: 400px) {
            width: 30rem;
          }
          .search-results {
            // min-height: 33rem;
          }
          .search-results-bottom {
            border-top: 1px solid #ced4da;
            text-align: center;
          }
        }
      }
      .search-input-container.visible {
        visibility: visible;
        // width: 100%;
      }
    }
    .avatar-container {
      width: 5.8rem;
      img {
        border-radius: 50%;
        border: 2px solid $color-gc-blue;
      }
      @media (max-width: 768px) {
        width: 2.4rem;
      }
    }
    p {
      margin-right: 4.1rem;
      margin-bottom: 0;
      color: $color-gc-blue;
      @media (max-width: 991px) {
        margin-right: 1.8rem;
      }
      @media (max-width: 768px) {
        display: none;
      }
    }
    p {
      @media (min-width: 1200px) {
        font-size: 2.4rem;
      }
    }
  }
  .notification {
    position: relative;
    .notification-count {
      position: absolute;
      background: $color-error;
      padding: 6px 12px;
      color: white;
      border-radius: 50%;
      font-size: 10px;
      top: 16px;
      left: 16px;
    }

    .notification-container {
      position: absolute;
      right: calc(100% - 2.7rem);
      width: 49.4rem;
      background-color: white;
      z-index: 600;
      border-radius: 8px;
      box-shadow: 0 12px 40px 0 rgba(0, 0, 0, 0.1);
      visibility: hidden;
      transition: all 0.3s ease;
      @media (max-width: 452px) {
        width: 29.1rem;
      }
      .notification-header {
        padding: 3.2rem 2rem 2.6rem;
        padding-bottom: 4px;
        justify-content: space-between;
        p {
          color: rgba($color-black, 0.5);
          font-size: 16px;
        }
        svg {
          fill: rgba($color-black, 0.5);
        }
        .active {
          color: $gc-link;
          svg {
            fill: $gc-link;
          }
        }
        .active {
          cursor: pointer;
        }
      }
      .notification-body {
        padding: 8px;
        max-height: 60vh;
        overflow-y: auto;
        .notification-list {
          margin: 0;
          padding: 0;
          padding: 0 12px;
          list-style-type: none;
        }
      }
      .notification-footer {
        padding: 1rem 2rem 3.2rem;
        text-align: center;
        p,
        a {
          color: $gc-link;
          font-size: 16px;
        }
      }
    }
    .notification-container.visible {
      visibility: visible;
    }
  }
  // .menu {
  //   // position: absolute;
  //   background-color: rgba(255, 255, 255, 0.96);

  //   z-index: 99;
  //   // visibility: hidden;
  //   // transform: translateY(calc(-100% - 9.9rem));
  //   transition: all 0.3s ease;
  //   ul.menu-list {
  //     list-style-type: none;
  //     display: flex;
  //     flex-direction: column;
  //     flex-wrap: wrap;
  //     justify-content: center;
  //     margin: 0;
  //     margin-top: 2rem;
  //     // padding: 3.1rem 0 0;
  //     @media (max-width: 991px) {
  //       flex-direction: column;
  //     }

  //     li.menu-item {
  //       padding: 0 3.4rem;
  //       font-size: 1.8rem;
  //       line-height: 2.1rem;
  //       color: $color-black;
  //       font-weight: 700;
  //       cursor: pointer;
  //       margin-bottom: 1.4rem;
  //       transition: all 0.3s ease;
  //       @media (max-width: 1200px) {
  //         font-size: 16px;
  //       }
  //       @media (max-width: 991px) {
  //         padding: 10px;
  //       }
  //       &:hover {
  //         color: $color-gc-blue;
  //       }
  //     }
  //     li:not(:last-child) {
  //       // border-right: 1px solid #c7c7c7;
  //       margin-bottom: 32px;
  //       @media (max-width: 991px) {
  //         // border-right: none;
  //         // border-bottom: 1px solid #c7c7c7;
  //       }
  //     }
  //   }
  // }
  // .menu.visible {
  //   // visibility: visible;
  //   // transform: translateY(8.3rem);
  //   left: calc((100% - 1232px) / 2);

  //   // @media (max-width: 768px) {
  //   //   transform: translateY(6.3rem) !important;
  //   // }
  // }
}

.notification-item {
  align-items: center;
  border: none;
  background-color: #f6f6f6;
  padding: 12px 20px;
  border-radius: 5px;
  display: flex;
  &:hover {
    background-color: #d9eaf1;
  }
  .icon-container {
    width: 4.4rem;

    margin-right: 1rem;
  }
  a,
  p {
    flex-grow: 1;
  }
  .content-container {
    padding: 1rem 2rem;
    h4 {
      font-size: 1.4rem;
      color: $color-black;
      margin-bottom: 1.2rem;
    }

    p,
    a {
      font-size: 1.2rem;
      margin: 0;
      color: rgba($color-black, 0.5);
      flex-grow: 1;
    }
  }
  &:not(:last-child) {
    margin-bottom: 12px;
    // border-bottom: 1px solid rgba($color-black, 0.3);
  }
}
.notification-item.read {
  opacity: 0.8;
  .dot-icon {
    display: none;
  }
}

header.fixed {
  position: fixed;
  z-index: 1000;
  width: 100vw;
  // background-color: white;
  .menu.visible {
    // transform: translateY(8.6rem);
    left: auto;
  }
}

body.nav-visible {
  header.fixed {
    position: fixed;
    z-index: 1000;
    width: 100vw;
    background-color: white;
    .menu.visible {
      transform: translateY(15.5rem);
    }
  }
}

.header-logged-out {
  .button-group {
    display: flex;
    justify-content: flex-end;
    .button-container {
      @media (max-width: 565px) {
        .btn {
          font-size: 12px;
          padding: 5px 4px;
        }
      }
      &:not(:last-child) {
        margin-right: 27px;
        @media (max-width: 565px) {
          margin-right: 12px;
        }
      }
    }
  }
}

.search-results {
  width: 725px;
  max-width: 100%;
  ul {
    list-style-type: none;

    li {
      padding: 5px 10px;
      &:not(:last-child) {
        border-bottom: 1px solid #c7c7c7;
      }
      a {
        color: $color-black;
      }
    }
  }
}

// .nav-menu {
//   position: relative;

//   .blur-overlay {
//     position: absolute;
//     width: 100%;
//     height: 100%;
//     background-color: rgba(0, 0, 0, 0.4);
//     visibility: hidden;
//     transition: all 0.3s ease;
//   }
//
//   .menu.visible {
//     .blur-overlay {
//       visibility: visible;
//       display: block;
//     }
//     .menu-list {
//       transform: translateX(0);
//     }
//   }
// }

// body {
//   .nav-menu {
//     display: none;
//   }
// }

// body.menu-opened {
//   .nav-menu {
//     display: block;
//   }
// }

.menu {
  height: 100vh;
}
.blur-overlay {
  display: none;
  position: absolute;
  width: 100%;
  height: 100vw;
  background-color: rgba(0, 0, 0, 0.4);
}
.menu-list {
  list-style-type: none;
  margin: 0;
  // padding: 75px 39px 0 113px;
  padding: 25px 45px;
  background-color: rgba(255, 255, 255, 0.96);
  width: auto;
  display: inline-block;
  z-index: 9999;
  left: -131%;
  transition: all 0.3s ease;
  position: absolute;
  max-height: calc(100vh - 83px);
  overflow-y: scroll;
  // transform: translateX(calc(100% - 1280px));
  .menu-item {
    a {
      display: flex;
      align-items: center;

      .icon-container {
        margin-right: 25px;
        width: 25px;
      }
      p {
        margin: 0;
        font-size: 20px;
        font-weight: 400;
        padding-bottom: 8px;
        border: 1px solid transparent;
        flex-grow: 1;
      }
    }
    &:not(:last-child) {
      margin-bottom: 13px;
    }
  }
  .menu-item.active {
    p {
      border-color: $color-gc-blue;
    }
  }
}

body.menu-opened {
  .blur-overlay {
    display: block;
  }
  .menu-list {
    left: calc((100% - 1210px) / 2);
    @media (max-width: 1365px) {
      left: calc((100% - 1101px) / 2);
    }
    @media (max-width: 1109px) {
      left: calc((100% - 930px) / 2);
    }
    @media (max-width: 989px) {
      left: calc((100% - 690px) / 2);
    }
    @media (max-width: 767px) {
      left: calc((100% - 510px) / 2);
    }
    @media (max-width: 564px) {
      left: 15px;
    }
  }
}

// .fs-ham-icon,
// #nav-icon2,
// #nav-icon3,
// #nav-icon4 {
//   // width: 60px;
//   // height: 45px;
//   // position: relative;
//   // margin: 50px auto;
//   -webkit-transform: rotate(0deg);
//   -moz-transform: rotate(0deg);
//   -o-transform: rotate(0deg);
//   transform: rotate(0deg);
//   -webkit-transition: 0.5s ease-in-out;
//   -moz-transition: 0.5s ease-in-out;
//   -o-transition: 0.5s ease-in-out;
//   transition: 0.5s ease-in-out;
//   cursor: pointer;
// }

// .fs-ham-icon span,
// #nav-icon3 span,
// #nav-icon4 span {
//   display: block;
//   position: absolute;
//   height: 4px;
//   width: 100%;
//   background: $color-gc-blue;
//   border-radius: 9px;
//   opacity: 1;
//   left: 0;
//   -webkit-transform: rotate(0deg);
//   -moz-transform: rotate(0deg);
//   -o-transform: rotate(0deg);
//   transform: rotate(0deg);
//   -webkit-transition: 0.25s ease-in-out;
//   -moz-transition: 0.25s ease-in-out;
//   -o-transition: 0.25s ease-in-out;
//   transition: 0.25s ease-in-out;
// }

// .fs-ham-icon span:nth-child(1) {
//   top: 0px;
// }

// .fs-ham-icon span:nth-child(2) {
//   top: 18px;
// }

// .fs-ham-icon span:nth-child(3) {
//   top: 36px;
// }

// .fs-ham-icon.open span:nth-child(1) {
//   top: 18px;
//   -webkit-transform: rotate(135deg);
//   -moz-transform: rotate(135deg);
//   -o-transform: rotate(135deg);
//   transform: rotate(135deg);
// }

// .fs-ham-icon.open span:nth-child(2) {
//   opacity: 0;
//   left: -60px;
// }

// .fs-ham-icon.open span:nth-child(3) {
//   top: 18px;
//   -webkit-transform: rotate(-135deg);
//   -moz-transform: rotate(-135deg);
//   -o-transform: rotate(-135deg);
//   transform: rotate(-135deg);
// }

// /* Icon 2 */

// #nav-icon2 {
// }

// #nav-icon2 span {
//   display: block;
//   position: absolute;
//   height: 9px;
//   width: 50%;
//   background: #d3531a;
//   opacity: 1;
//   -webkit-transform: rotate(0deg);
//   -moz-transform: rotate(0deg);
//   -o-transform: rotate(0deg);
//   transform: rotate(0deg);
//   -webkit-transition: 0.25s ease-in-out;
//   -moz-transition: 0.25s ease-in-out;
//   -o-transition: 0.25s ease-in-out;
//   transition: 0.25s ease-in-out;
// }

// #nav-icon2 span:nth-child(even) {
//   left: 50%;
//   border-radius: 0 9px 9px 0;
// }

// #nav-icon2 span:nth-child(odd) {
//   left: 0px;
//   border-radius: 9px 0 0 9px;
// }

// #nav-icon2 span:nth-child(1),
// #nav-icon2 span:nth-child(2) {
//   top: 0px;
// }

// #nav-icon2 span:nth-child(3),
// #nav-icon2 span:nth-child(4) {
//   top: 18px;
// }

// #nav-icon2 span:nth-child(5),
// #nav-icon2 span:nth-child(6) {
//   top: 36px;
// }

// #nav-icon2.open span:nth-child(1),
// #nav-icon2.open span:nth-child(6) {
//   -webkit-transform: rotate(45deg);
//   -moz-transform: rotate(45deg);
//   -o-transform: rotate(45deg);
//   transform: rotate(45deg);
// }

// #nav-icon2.open span:nth-child(2),
// #nav-icon2.open span:nth-child(5) {
//   -webkit-transform: rotate(-45deg);
//   -moz-transform: rotate(-45deg);
//   -o-transform: rotate(-45deg);
//   transform: rotate(-45deg);
// }

// #nav-icon2.open span:nth-child(1) {
//   left: 5px;
//   top: 7px;
// }

// #nav-icon2.open span:nth-child(2) {
//   left: calc(50% - 5px);
//   top: 7px;
// }

// #nav-icon2.open span:nth-child(3) {
//   left: -50%;
//   opacity: 0;
// }

// #nav-icon2.open span:nth-child(4) {
//   left: 100%;
//   opacity: 0;
// }

// #nav-icon2.open span:nth-child(5) {
//   left: 5px;
//   top: 29px;
// }

// #nav-icon2.open span:nth-child(6) {
//   left: calc(50% - 5px);
//   top: 29px;
// }

// /* Icon 3 */

// #nav-icon3 span:nth-child(1) {
//   top: 0px;
// }

// #nav-icon3 span:nth-child(2),
// #nav-icon3 span:nth-child(3) {
//   top: 18px;
// }

// #nav-icon3 span:nth-child(4) {
//   top: 36px;
// }

// #nav-icon3.open span:nth-child(1) {
//   top: 18px;
//   width: 0%;
//   left: 50%;
// }

// #nav-icon3.open span:nth-child(2) {
//   -webkit-transform: rotate(45deg);
//   -moz-transform: rotate(45deg);
//   -o-transform: rotate(45deg);
//   transform: rotate(45deg);
// }

// #nav-icon3.open span:nth-child(3) {
//   -webkit-transform: rotate(-45deg);
//   -moz-transform: rotate(-45deg);
//   -o-transform: rotate(-45deg);
//   transform: rotate(-45deg);
// }

// #nav-icon3.open span:nth-child(4) {
//   top: 18px;
//   width: 0%;
//   left: 50%;
// }

// /* Icon 4 */

// #nav-icon4 {
// }

// #nav-icon4 span:nth-child(1) {
//   top: 0px;
//   -webkit-transform-origin: left center;
//   -moz-transform-origin: left center;
//   -o-transform-origin: left center;
//   transform-origin: left center;
// }

// #nav-icon4 span:nth-child(2) {
//   top: 18px;
//   -webkit-transform-origin: left center;
//   -moz-transform-origin: left center;
//   -o-transform-origin: left center;
//   transform-origin: left center;
// }

// #nav-icon4 span:nth-child(3) {
//   top: 36px;
//   -webkit-transform-origin: left center;
//   -moz-transform-origin: left center;
//   -o-transform-origin: left center;
//   transform-origin: left center;
// }

// #nav-icon4.open span:nth-child(1) {
//   -webkit-transform: rotate(45deg);
//   -moz-transform: rotate(45deg);
//   -o-transform: rotate(45deg);
//   transform: rotate(45deg);
//   top: -3px;
//   left: 8px;
// }

// #nav-icon4.open span:nth-child(2) {
//   width: 0%;
//   opacity: 0;
// }

// #nav-icon4.open span:nth-child(3) {
//   -webkit-transform: rotate(-45deg);
//   -moz-transform: rotate(-45deg);
//   -o-transform: rotate(-45deg);
//   transform: rotate(-45deg);
//   top: 39px;
//   left: 8px;
// }
