//DEFAULT ARROWS, TRANSPARENT BACKGROUND WHITE ARROW AND BORDER
.slick-custom {
  cursor: pointer;
  width: 5.2rem;
  height: 5.2rem;
  background-size: cover;
  box-shadow: 0 4px 7px 0 rgba(0, 0, 0, 0.25);
  z-index: 200;
  transition: all 0.3s ease;
}

.slick-custom-prev {
  background-image: url("data:image/svg+xml, %3Csvg viewBox='0 0 52 53' fill='none' xmlns='http://www.w3.org/2000/svg' %3E%3Ccircle cx='26' cy='26' r='25.5' transform='matrix(-1 0 0 1 52 0.5)' stroke='white' /%3E%3Cpath d='M29.3308 19.9506C29.4456 20.0652 29.5366 20.2012 29.5988 20.351C29.6609 20.5008 29.6929 20.6613 29.6929 20.8235C29.6929 20.9856 29.6609 21.1462 29.5988 21.296C29.5366 21.4457 29.4456 21.5818 29.3308 21.6963L24.527 26.5001L29.3308 31.304C29.5623 31.5355 29.6923 31.8494 29.6923 32.1768C29.6923 32.5042 29.5623 32.8182 29.3308 33.0497C29.0993 33.2812 28.7853 33.4112 28.4579 33.4112C28.1306 33.4112 27.8166 33.2812 27.5851 33.0497L21.9022 27.3668C21.7874 27.2523 21.6964 27.1162 21.6343 26.9664C21.5721 26.8167 21.5402 26.6561 21.5402 26.494C21.5402 26.3318 21.5721 26.1712 21.6343 26.0215C21.6964 25.8717 21.7874 25.7356 21.9022 25.6211L27.5851 19.9382C28.0556 19.4678 28.8479 19.4678 29.3308 19.9506Z' fill='%23B3B3B3' /%3E%3C/svg%3E");
  border-radius: 50%;
  width: 5.2rem;
  height: 5.2rem;
  @media (max-width: 768px) {
    width: 3.1rem;
    height: 3.1rem;
  }
  &:active {
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 52 52' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='26' cy='26' r='26' transform='rotate(-180 26 26)' fill='white'/%3E%3Cpath d='M29.3307 32.5495C29.4455 32.435 29.5365 32.2989 29.5986 32.1492C29.6608 31.9994 29.6927 31.8388 29.6927 31.6767C29.6927 31.5145 29.6608 31.354 29.5986 31.2042C29.5365 31.0544 29.4455 30.9184 29.3307 30.8038L24.5269 26L29.3307 21.1962C29.5622 20.9647 29.6922 20.6507 29.6922 20.3233C29.6922 19.996 29.5622 19.682 29.3307 19.4505C29.0992 19.219 28.7852 19.0889 28.4578 19.0889C28.1304 19.0889 27.8165 19.219 27.585 19.4505L21.9021 25.1333C21.7873 25.2479 21.6963 25.3839 21.6341 25.5337C21.572 25.6835 21.54 25.844 21.54 26.0062C21.54 26.1683 21.572 26.3289 21.6341 26.4787C21.6963 26.6285 21.7873 26.7645 21.9021 26.8791L27.585 32.5619C28.0554 33.0324 28.8478 33.0324 29.3307 32.5495Z' fill='%231F5AAB'/%3E%3C/svg%3E");
    box-shadow: 0 9px 10px 0 rgba(0, 0, 0, 0.25);
  }
}
.slick-custom-next {
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 52 52' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='26' cy='26' r='25.5' transform='matrix(1 8.74228e-08 8.74228e-08 -1 0 52)' stroke='white'/%3E%3Cpath d='M22.6693 32.5495C22.5545 32.435 22.4635 32.2989 22.4014 32.1492C22.3392 31.9994 22.3073 31.8388 22.3073 31.6767C22.3073 31.5145 22.3392 31.354 22.4014 31.2042C22.4635 31.0544 22.5545 30.9184 22.6693 30.8038L27.4731 26L22.6693 21.1962C22.4378 20.9647 22.3078 20.6507 22.3078 20.3233C22.3078 19.996 22.4378 19.682 22.6693 19.4505C22.9008 19.219 23.2148 19.0889 23.5422 19.0889C23.8696 19.0889 24.1835 19.219 24.415 19.4505L30.0979 25.1333C30.2127 25.2479 30.3037 25.3839 30.3659 25.5337C30.428 25.6835 30.46 25.844 30.46 26.0062C30.46 26.1683 30.428 26.3289 30.3659 26.4787C30.3037 26.6285 30.2127 26.7645 30.0979 26.8791L24.415 32.5619C23.9446 33.0324 23.1522 33.0324 22.6693 32.5495Z' fill='%23B3B3B3'/%3E%3C/svg%3E%0A");
  transform: translateX(calc(100% + 16px));
  border-radius: 50%;
  width: 5.2rem;
  height: 5.2rem;
  @media (max-width: 768px) {
    width: 3.1rem;
    height: 3.1rem;
    transform: translateX(calc(100% + 7px));
  }
  &:active {
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 52 52' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='26' cy='26' r='26' fill='white'/%3E%3Cpath d='M22.6693 19.4504C22.5545 19.565 22.4635 19.701 22.4014 19.8508C22.3392 20.0006 22.3073 20.1611 22.3073 20.3233C22.3073 20.4854 22.3392 20.646 22.4014 20.7958C22.4635 20.9456 22.5545 21.0816 22.6693 21.1962L27.4731 26L22.6693 30.8038C22.4378 31.0353 22.3078 31.3492 22.3078 31.6766C22.3078 32.004 22.4378 32.318 22.6693 32.5495C22.9008 32.781 23.2148 32.911 23.5422 32.911C23.8696 32.911 24.1835 32.781 24.415 32.5495L30.0979 26.8666C30.2127 26.7521 30.3037 26.616 30.3659 26.4663C30.428 26.3165 30.46 26.1559 30.46 25.9938C30.46 25.8316 30.428 25.6711 30.3659 25.5213C30.3037 25.3715 30.2127 25.2355 30.0979 25.1209L24.415 19.4381C23.9446 18.9676 23.1522 18.9676 22.6693 19.4504Z' fill='%231F5AAB'/%3E%3C/svg%3E%0A");
    box-shadow: 0 9px 10px 0 rgba(0, 0, 0, 0.25);
  }
}

.slick-custom-prev-filled {
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 52 52' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='26' cy='26' r='26' transform='rotate(-180 26 26)' fill='white'/%3E%3Cpath d='M29.3307 32.5495C29.4455 32.435 29.5365 32.2989 29.5986 32.1492C29.6608 31.9994 29.6927 31.8388 29.6927 31.6767C29.6927 31.5145 29.6608 31.354 29.5986 31.2042C29.5365 31.0544 29.4455 30.9184 29.3307 30.8038L24.5269 26L29.3307 21.1962C29.5622 20.9647 29.6922 20.6507 29.6922 20.3233C29.6922 19.996 29.5622 19.682 29.3307 19.4505C29.0992 19.219 28.7852 19.0889 28.4578 19.0889C28.1304 19.0889 27.8165 19.219 27.585 19.4505L21.9021 25.1333C21.7873 25.2479 21.6963 25.3839 21.6341 25.5337C21.572 25.6835 21.54 25.844 21.54 26.0062C21.54 26.1683 21.572 26.3289 21.6341 26.4787C21.6963 26.6285 21.7873 26.7645 21.9021 26.8791L27.585 32.5619C28.0554 33.0324 28.8478 33.0324 29.3307 32.5495Z' fill='%231F5AAB'/%3E%3C/svg%3E");
  border-radius: 50%;
  width: 5.2rem;
  height: 5.2rem;
  @media (max-width: 768px) {
    width: 3.1rem;
    height: 3.1rem;
  }
  &:active {
    background-image: url("data:image/svg+xml, %3Csvg viewBox='0 0 52 53' fill='none' xmlns='http://www.w3.org/2000/svg' %3E%3Ccircle cx='26' cy='26' r='25.5' transform='matrix(-1 0 0 1 52 0.5)' stroke='white' /%3E%3Cpath d='M29.3308 19.9506C29.4456 20.0652 29.5366 20.2012 29.5988 20.351C29.6609 20.5008 29.6929 20.6613 29.6929 20.8235C29.6929 20.9856 29.6609 21.1462 29.5988 21.296C29.5366 21.4457 29.4456 21.5818 29.3308 21.6963L24.527 26.5001L29.3308 31.304C29.5623 31.5355 29.6923 31.8494 29.6923 32.1768C29.6923 32.5042 29.5623 32.8182 29.3308 33.0497C29.0993 33.2812 28.7853 33.4112 28.4579 33.4112C28.1306 33.4112 27.8166 33.2812 27.5851 33.0497L21.9022 27.3668C21.7874 27.2523 21.6964 27.1162 21.6343 26.9664C21.5721 26.8167 21.5402 26.6561 21.5402 26.494C21.5402 26.3318 21.5721 26.1712 21.6343 26.0215C21.6964 25.8717 21.7874 25.7356 21.9022 25.6211L27.5851 19.9382C28.0556 19.4678 28.8479 19.4678 29.3308 19.9506Z' fill='%23B3B3B3' /%3E%3C/svg%3E");
  }
}

.slick-custom-next-filled {
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 52 52' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='26' cy='26' r='26' fill='white'/%3E%3Cpath d='M22.6693 19.4504C22.5545 19.565 22.4635 19.701 22.4014 19.8508C22.3392 20.0006 22.3073 20.1611 22.3073 20.3233C22.3073 20.4854 22.3392 20.646 22.4014 20.7958C22.4635 20.9456 22.5545 21.0816 22.6693 21.1962L27.4731 26L22.6693 30.8038C22.4378 31.0353 22.3078 31.3492 22.3078 31.6766C22.3078 32.004 22.4378 32.318 22.6693 32.5495C22.9008 32.781 23.2148 32.911 23.5422 32.911C23.8696 32.911 24.1835 32.781 24.415 32.5495L30.0979 26.8666C30.2127 26.7521 30.3037 26.616 30.3659 26.4663C30.428 26.3165 30.46 26.1559 30.46 25.9938C30.46 25.8316 30.428 25.6711 30.3659 25.5213C30.3037 25.3715 30.2127 25.2355 30.0979 25.1209L24.415 19.4381C23.9446 18.9676 23.1522 18.9676 22.6693 19.4504Z' fill='%231F5AAB'/%3E%3C/svg%3E%0A");
  border-radius: 50%;
  width: 5.2rem;
  height: 5.2rem;
  @media (max-width: 768px) {
    width: 3.1rem;
    height: 3.1rem;
  }
  &:active {
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 52 52' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='26' cy='26' r='25.5' transform='matrix(1 8.74228e-08 8.74228e-08 -1 0 52)' stroke='white'/%3E%3Cpath d='M22.6693 32.5495C22.5545 32.435 22.4635 32.2989 22.4014 32.1492C22.3392 31.9994 22.3073 31.8388 22.3073 31.6767C22.3073 31.5145 22.3392 31.354 22.4014 31.2042C22.4635 31.0544 22.5545 30.9184 22.6693 30.8038L27.4731 26L22.6693 21.1962C22.4378 20.9647 22.3078 20.6507 22.3078 20.3233C22.3078 19.996 22.4378 19.682 22.6693 19.4505C22.9008 19.219 23.2148 19.0889 23.5422 19.0889C23.8696 19.0889 24.1835 19.219 24.415 19.4505L30.0979 25.1333C30.2127 25.2479 30.3037 25.3839 30.3659 25.5337C30.428 25.6835 30.46 25.844 30.46 26.0062C30.46 26.1683 30.428 26.3289 30.3659 26.4787C30.3037 26.6285 30.2127 26.7645 30.0979 26.8791L24.415 32.5619C23.9446 33.0324 23.1522 33.0324 22.6693 32.5495Z' fill='%23B3B3B3'/%3E%3C/svg%3E%0A");
  }
}

.slick-arrow-center-vertical-prev {
  position: absolute;
  top: 50%;
  transform: translate(-60px, -50%);
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.slick-arrow-center-vertical-next {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(47px, -50%);
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}
