.section-coaching {
  padding: 69px 0;
  background-size: cover;
  .header-box {
    margin-bottom: 53px;
  }
  p {
    font-weight: 700;
  }
  @media (max-width: 768px) {
    padding: 21px 0;
  }
  .content-container {
    margin-bottom: 51px;
    .image-container {
      width: 60px;
      margin-bottom: 34px;
      margin-left: auto;
      margin-right: auto;
    }
    .text-container {
      text-align: center;
    }
  }

  .slick-track {
    display: flex !important;
  }

  .slick-slide {
    height: inherit !important;
  }
  .main-text {
    width: 570px;
    max-width: 100%;
    margin: 0 auto;
    @media (max-width: 1440px) {
      width: 440px;
    }
  }
}
