.section-service-manager {
  padding: 5rem 0;
  background-size: cover;
  @media (max-width: 768px) {
    padding: 20px 0;
  }
  .container {
    @media (min-width: 1280px) {
      width: 113rem;
    }
  }
  .content-container.left {
    padding-right: 190px;
    @media (max-width: 991px) {
      text-align: center;
      margin-bottom: 21px;
      padding-right: 0;
    }
  }
  .content-container.right {
    @media (max-width: 991px) {
      justify-content: center;
    }
    .image-container {
      width: 25.3rem;
      border-radius: 50%;
      overflow: hidden;
      margin-right: 24px;
      @media (max-width: 768px) {
        width: 103px;
      }
    }
    h3 {
      text-transform: capitalize;
      @media (min-width: 991px) {
        margin-bottom: 20px;
      }
    }
  }
}
