.page-prospects {
  .section-hero {
    .slider-single-main {
      height: 844px !important;
      display: block;
      @media (max-width: 768px) {
        height: 704px !important;
      }
      @media (max-width: 765px) {
        height: 744px !important;
      }
      @media (max-width: 565px) {
        height: 644px !important;
      }
      .content-container {
        margin-top: 178px;
        @media (max-width: 565px) {
          margin-top: 121px;
        }
      }
    }
    .slick-custom {
      // left: calc(((100% - 1101px) / 2)) !important;
      bottom: 264px;
      // @media (max-width: 1365px) {
      //   left: calc(((100% - 1232px) / 2) - -520px) !important;
      //   bottom: 316px;
      // }
      // @media (max-width: 1200px) {
      //   left: calc(((100% - 1232px) / 2) - -149px) !important;
      //   bottom: 316px;
      // }
      @media (max-width: 990px) {
        // left: calc(((100% - 1232px) / 2) - -270px) !important;
        bottom: 316px;
      }
      @media (max-width: 768px) {
        // left: calc(((100% - 1232px) / 2) - -361px) !important;
        bottom: 315px;
      }
      @media (max-width: 565px) {
        // left: calc(((100% - 1232px) / 2) - -361px) !important;
        bottom: 250px;
      }
    }
  }
  .section-road {
    padding: 461px 0 56px;
    margin-top: -325px;
    background-size: cover;
    @media (max-width: 768px) {
      padding-top: 489px;
    }
    @media (max-width: 768px) {
      padding-top: 389px;
    }
  }
  .section-growth-innovation {
    .content-container-outer {
      margin-top: -239px;

      @media (max-width: 768px) {
        margin-top: -169px;
        flex-direction: column;
      }
    }
  }
}

//will be extended to the common scsss
.section-innovation {
  display: flex;
  @media (max-width: 768px) {
    flex-direction: column;
  }
  .left {
    background-size: cover;
    // width: 44%;
    padding: 84px;
    display: flex;
    align-items: center;
    @media (max-width: 768px) {
      width: 100%;
      padding: 30px 15px;
    }
  }
  .right {
    flex-grow: 1;
    img {
      height: 100%;
      object-fit: cover;
      @media (max-width: 768px) {
        max-height: 371px;
      }
    }
  }
}

.section-stories {
  .header-box {
    margin-bottom: 55px;
  }
  .stories-slider-container {
    // .slick-slider {
    //   margin: 0 13px;
    // }
    // .slick-slide {
    //   margin-left: 13px;
    //   margin-right: 13px;
    // }
    form {
      height: inherit !important;
      button {
        height: 100% !important;
        border: none;
        background-color: transparent;
      }
    }
    .item {
      padding: 13px;
      height: 100%;
      .content-container-outer {
        border-radius: 8px;
        overflow: hidden;
        box-shadow: 2px 4px 15px rgba(0, 0, 0, 0.15);
        height: 100%;
      }
      .content-container {
        height: 100%;
        padding: 33px 33px;
        h3 {
          color: $color-gc-blue;
        }
      }
    }

    // .slick-custom-prev {
    //   position: absolute;
    //   top: 50%;
    //   transform: translate(-60px, -50%);
    //   box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    // }
    // .slick-custom-next {
    //   position: absolute;
    //   top: 50%;
    //   right: 0;
    //   transform: translate(47px, -50%);
    //   box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    // }
  }
}

.section-stories-2 {
  .negative-margin {
    position: relative;
    @media (min-width: 991px) {
      margin-left: -8.333333%;
      padding-top: 20px;
      padding-bottom: 20px;
    }
    .content-container {
      padding: 48px 48px 36px;
      height: 100%;
      background-color: white;
      box-shadow: 0 0 10px 6px rgba(0, 0, 0, 0.07);
      border: 1px solid #e2e8f0;
      border-radius: 5px;
      p {
        font-size: 24px;
      }
      .read-more-container {
        position: absolute;
        bottom: 50px;
        display: flex;
        align-items: center;
        p {
          margin-bottom: 0;
          margin-right: 8px;
          color: $color-gc-orange;
        }
      }
    }
  }
  .image-container {
    img {
      border-radius: 5px;
      @media (min-width: 991px) {
        height: 333px;
        object-fit: cover;
      }
    }
  }
}

.section-sectors {
  @media (max-width: 768px) {
    padding-bottom: 83px;
  }
  .header-box {
    margin-bottom: 3.9rem;
    @media (max-width: 1366px) {
      margin-bottom: 2.9rem;
    }
  }
  .sector-slide-container {
    .sector-slide-item {
      .col-md-8 {
        @media (max-width: 768px) {
          margin-bottom: 40px;
        }
      }
    }
  }
  .image-container-main {
    padding: 73px 46px;
    display: flex;
    align-items: flex-end;
    height: 100%;
    background-size: cover;
    position: relative;
    @media (max-width: 768px) {
      padding-left: 15px;
      padding-bottom: 15px;
    }
    .content-container-inner {
      position: relative;
    }
    .pill {
      padding: 10px 15px;
      border-radius: 5px;
      margin-bottom: 4.3rem;
      @media (max-width: 768px) {
        margin-bottom: 29px;
      }
      p {
        font-size: 24px;
        color: $color-gc-blue-shade-1;
        font-weight: 700;
        @media (max-width: 768px) {
          font-size: 20px;
          line-height: 1.2;
        }
      }
    }
  }
  .content-container-outer {
    .item {
      height: 260px;
      border-radius: 5px;
      overflow: hidden;
      background-size: cover;
      position: relative;
      @media (max-width: 1366px) {
        height: 170px;
      }
      &:not(:last-child) {
        margin-bottom: 27px;
      }
      .content-container-inner {
        height: 100%;
        padding: 22px;
        position: relative;
        display: flex;
        align-items: flex-end;
        @media (max-width: 768px) {
          padding: 15px;
        }
        .pill {
          position: absolute;
          top: 5px;
          right: 5px;
          padding: 10px 14px;
          border-radius: 5px;
          p {
            font-size: 18px;
            font-weight: 400;
            color: $color-gc-blue-shade-1;
            @media (max-width: 768px) {
              font-size: 14px;
              line-height: 1.2;
            }
          }
        }
      }
    }
  }
  // .slick-custom-prev {
  //   position: absolute;
  //   top: 50%;
  //   transform: translate(-60px, -50%);
  //   box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  // }
  // .slick-custom-next {
  //   position: absolute;
  //   top: 50%;
  //   right: 0;
  //   transform: translate(47px, -50%);
  //   box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  // }
}

.section-innovation-leadership-council {
  background-size: cover;
  .header-box {
    margin-bottom: 75px;
  }
  .content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    .image-outer-container {
      border-radius: 50%;
      width: 150px;
      padding: 28px;
      background-color: white;
      margin-bottom: 21px;
      transition: all 0.3s ease;
      &:hover {
        background-color: $color-gc-blue;
        img {
          filter: invert(1);
        }
      }
    }
  }
}

.section-community-slider {
  // padding: 262px 0 178px;
  display: flex;
  align-items: center;
  overflow-x: hidden;
  position: relative;
  padding: 0;
  @media (max-width: 768px) {
    flex-direction: column;
  }
  .left {
    padding-left: calc((100% - 1205px) / 2);
    position: relative;
    width: 49%;
    @media (max-width: 1200px) {
      padding-left: calc((100% - 930px) / 2);
    }
    @media (max-width: 989px) {
      padding-left: calc((100% - 690px) / 2);
    }
    @media (max-width: 768px) {
      padding-left: calc((100% - 690px) / 2);
      width: 100%;
      height: 310px;
      padding-top: 79px;
    }
    @media (max-width: 767px) {
    }
    @media (max-width: 565px) {
      padding-left: 15px;
    }
    .text-box {
      @media (max-width: 768px) {
        text-align: center;
      }
    }

    .quote-image {
      position: absolute;
      width: 230px;
      top: -130px;
      @media (max-width: 768px) {
        flex-direction: column;
        top: 23px;
        left: 50%;
        transform: translateX(-50%);
      }
    }
  }
  .right {
    width: 56%;
    flex-grow: 1;
    padding: 310px 0;
    @media (max-width: 768px) {
      width: 100%;
      padding: 62px 0;
    }
    .background-abstract-image {
      // position: absolute;
      // height: 604px;
      // z-index: -1;
      // top: -130px;
      // left: 180px;
      // @media (min-width: 1440px) {
      //   width: 1140px;
      //   overflow: hidden;
      // }
    }
    .custom-slider-button-container {
      display: flex;
      position: absolute;
      right: 130px;
      top: 47px;
      @media (max-width: 1400px) {
        top: 35px;
      }
      @media (max-width: 768px) {
        top: 25px;
        right: 55px;
      }
      .slick-custom-prev {
        margin-right: -50px;
        cursor: pointer;
        @media (max-width: 768px) {
          margin-right: -23px;
        }
      }
      .slick-custom-next {
        cursor: pointer;
      }
    }
    .community-slider-container {
      position: absolute;
      top: 50%;
      left: 41%;
      width: 120%;
      transform: translate(-50%, -50%);
      @media (max-width: 768px) {
        width: 100%;
        max-width: 100%;
        position: inherit;
        transform: translate(0, 0);
      }
      .community-slide-item {
        background-color: white;
        border-radius: 10px;
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.05);
        .content-container {
          padding: 40px;
          .profile {
            margin-bottom: 24px;
            .image-container {
              width: 80px;
              border-radius: 50%;
              margin-right: 15px;
              overflow: hidden;
            }
            .profile-description {
              h4 {
                font-size: 20px;
                color: $color-blue-light;
                line-height: 1.15;
              }
              p {
                font-size: 16px;
                font-weight: 500;
                line-height: 1.18;
                color: $color-gc-blue;
              }
            }
            .text-box {
              padding-right: 0;
              p {
                font-size: 16px;
                font-weight: 400;
                line-height: 1.62;
                color: $color-black-text-2;
              }
            }
          }
        }
      }
      .slick-custom {
        visibility: hidden;
      }
    }
  }
  .slick-list {
    padding: 0 20% 0 0 !important;
    @media (ma-width: 768px) {
      padding: 0 13% 0 0 !important;
    }
  }
  .slick-slider {
    margin: 0 20px;
    @media (max-width: 768px) {
      margin: 0 10px;
    }
  }
  .slick-slide {
    margin-left: 20px;
    margin-right: 20px;
    @media (max-width: 768px) {
      margin-left: 10px;
      margin-right: 10px;
    }
  }

  // .slick-custom-next {
  //   top: -83px;
  //   left: calc(76% + 50px + 20px);
  //   @media (max-width: 1440px) {
  //     left: calc(73% + 50px + 20px);
  //   }
  //   @media (max-width: 1366px) {
  //     left: calc(73% + 50px + 40px);
  //   }
  // }
  // .slick-custom-prev {
  //   top: -83px;
  //   left: 89%;
  //   @media (max-width: 1200px) {
  //     left: 86%;
  //   }
  // }
}

.section-alternate-articles {
  .image-container {
    // margin-bottom: 130px;
  }
  .header-box {
    margin-bottom: 43px;
  }
  .text-box {
    margin-bottom: 43px;
  }
}

.video-thumbnail {
  position: relative;
  min-height: 340px;
  height: 100%;
  border-radius: 8px;
}

.section-frost-radar {
  background-size: cover;
}

.section-strategic-imperative,
.section-mindXChange,
.section-innovation {
  .header-box {
    margin-bottom: 4.3rem;
    @media (max-width: 768px) {
      margin-bottom: 29px;
    }
  }
  .text-box {
    margin-bottom: 29px;
    color: $color-gc-blue;
  }
  .image-container {
    width: 63.6rem;
    max-width: 100%;
    border-radius: 8px;
    overflow: hidden;
    @media (max-width: 768px) {
      margin-bottom: 34px;
    }
  }
}

.section-mindXChange {
  .col-md-7 {
    @media (max-width: 768px) {
      order: 2;
    }
  }
}
