/**
 * Basic typography style for copy text
 */

body {
  font-family: "Calibri";
  // font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.6;
  color: $color-gc-blue;
}
h1,
.h1 {
  font-size: 4.8rem;
  font-weight: 700;
  @media (max-width: 1440px) {
    font-size: 41px;
  }
  @media (max-width: 768px) {
    font-size: 3.2rem;
  }
}

h2,
.h2 {
  font-size: 3.2rem;
  font-weight: 700;
  @media (max-width: 768px) {
    font-size: 2.4rem;
  }
}

h3,
.h3 {
  font-size: 2.4rem;
  font-weight: 700;
  @media (max-width: 768px) {
    font-size: 1.8rem;
  }
}

p {
  font-size: 1.8rem;
  @media (max-width: 1440px) {
    font-size: 16px;
  }
}

.text-white {
  color: white;
}

.text-blue {
  color: $color-gc-blue;
}
.text-blue-dark {
  color: $color-gc-blue-dark;
}
.text-black-light {
  color: $color-black-text;
}

.caption {
  font-size: 1.4rem;
  color: $color-gc-blue;
  line-height: 1.21;
}

input.form-control,
select.form-control {
  font-size: 20px;
  // padding: 24px 52px 24px 24px;
  border-radius: 14px;
  background-color: white;
  color: rgba($color-text-faded, 60%);
  @media (max-width: 991px) {
    font-size: 18px;
  }
  @media (max-width: 768px) {
    font-size: 16px;
  }
}

.secondary-heading {
}
